@font-face {
  font-family: 'GhibliFontPro';
  src: url('/fonts/Ghibli-Bold.otf') format('opentype');
  font-weight: 600, 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GhibliFontPro';
  src: url('/fonts/Ghibli.otf') format('opentype');
  font-weight: 300, 400, 500;
  font-style: normal;
}

:root {
  --font-sans: 'GhibliFontPro', ui-sans-serif, system-ui, sans-serif;
}
