@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Ghibli";
  src: url("/fonts/Ghibli.otf") format("opentype");
  font-weight: 300, 400, 500;
  font-style: normal;
}

@font-face {
  font-family: "Ghibli-Bold";
  src: url("/fonts/Ghibli-Bold.otf") format("opentype");
  font-weight: 600, 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSerifKhmer";
  src: url("/fonts/NotoSerifKhmer-Regular.ttf") format("truetype");
  font-weight: 600, 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Koulen";
  src: url("/fonts/Koulen-Regular.ttf") format("truetype");
  font-weight: 600, 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: var(--font-ghibi), serif;
}

body {
  font-family: var(--font-ghibi), serif;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-base-low: hsl(240, 5.769%, 20.392%);
  --color-base-lower: hsl(240, 5.263%, 18.627%);
  --color-base-lowest: hsl(240, 5.882%, 16.667%);
  --color-surface-overlay: hsl(240, 5.263%, 7.451%);
  --color-surface-high: hsl(240, 5.263%, 22.353%);
  --color-surface-higher: hsl(240, 5.691%, 24.118%);
  --color-surface-highest: hsl(240, 5.263%, 26.078%);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Nunito, sans-serif;
  --font-mono: var(--font-mono);
  --font-serif: PT Serif, serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: 0 2px 0 0 var(--border);
  --shadow-sm: 0 2px 0 0 var(--border);
  --shadow: var(--shadow);
  --shadow-md: 0 2px 0 0 var(--border);
  --shadow-lg: 0 2px 0 0 var(--border);
  --shadow-xl: 0 2px 0 0 var(--border);
  --shadow-2xl: 0 2px 0 0 var(--border);
  --font-weight-light: 700;
  --font-weight-normal: 700;
  --font-weight-medium: 700;
  --font-weight-semibold: 700;
  --shadow-3xl: 0 2px 0 0 var(--border);
  --color-destructive-border: var(--destructive-border);
  --color-primary-border: var(--primary-border);
}

:root {
  --background: oklch(0.91 0.048 83.6);
  --foreground: oklch(0.41 0.077 78.9);
  --card: oklch(0.92 0.042 83.6);
  --card-foreground: oklch(0.41 0.077 74.3);
  --popover: oklch(0.92 0.042 83.6);
  --popover-foreground: oklch(0.41 0.077 74.3);
  --primary: oklch(0.71 0.097 111.7);
  --primary-foreground: oklch(0.98 0.005 0);
  --secondary: oklch(0.88 0.055 83.6);
  --secondary-foreground: oklch(0.51 0.077 78.9);
  --muted: oklch(0.86 0.064 83.7);
  --muted-foreground: oklch(0.51 0.077 74.3);
  --accent: oklch(0.86 0.055 83.6);
  --accent-foreground: oklch(0.26 0.016 0);
  --destructive: oklch(0.63 0.24 29.2);
  --destructive-foreground: oklch(0.97 0.018 0);
  --border: oklch(0.74 0.063 80.8);
  --input: oklch(0.74 0.063 80.8);
  --ring: oklch(0.51 0.077 74.3);
  --chart-1: oklch(0.66 0.19 41.6);
  --chart-2: oklch(0.68 0.16 184.9);
  --chart-3: oklch(0.48 0.09 210.9);
  --chart-4: oklch(0.85 0.19 85.4);
  --chart-5: oklch(0.74 0.19 66.3);
  --sidebar: oklch(0.87 0.059 83.7);
  --sidebar-foreground: oklch(0.41 0.077 78.9);
  --sidebar-primary: oklch(0.26 0.016 0);
  --sidebar-primary-foreground: oklch(0.98 0.005 0);
  --sidebar-accent: oklch(0.83 0.058 83.6);
  --sidebar-accent-foreground: oklch(0.26 0.016 0);
  --sidebar-border: oklch(0.91 0.005 0);
  --sidebar-ring: oklch(0.71 0.005 0);
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-ghibi: Ghibli, NotoSerifKhmer;
  --font-ghibi-bold: Ghibli-Bold, Koulen;
  --radius: 0.625rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
  --primary-border: oklch(0.59 0.096 111.8);
  --destructive-border: oklch(0.43 0.24 29.2);
}

.dark {
  --background: oklch(0.33 0.02 88.07);
  --foreground: oklch(0.92 0.02 82.12);
  --card: oklch(0.36 0.02 82.33);
  --card-foreground: oklch(0.92 0.02 82.12);
  --popover: oklch(0.36 0.02 82.33);
  --popover-foreground: oklch(0.92 0.02 82.12);
  --primary: oklch(0.68 0.06 132.45);
  --primary-foreground: oklch(0.27 0.01 61.02);
  --secondary: oklch(0.44 0.02 84.55);
  --secondary-foreground: oklch(0.92 0.02 82.12);
  --muted: oklch(0.39 0.02 82.71);
  --muted-foreground: oklch(0.71 0.02 73.62);
  --accent: oklch(0.65 0.07 90.76);
  --accent-foreground: oklch(0.27 0.01 61.02);
  --destructive: oklch(0.63 0.08 31.3);
  --destructive-foreground: oklch(0.94 0.02 84.59);
  --border: oklch(0.44 0.02 84.55);
  --input: oklch(0.44 0.02 84.55);
  --ring: oklch(0.68 0.06 132.45);
  --chart-1: oklch(0.68 0.06 132.45);
  --chart-2: oklch(0.73 0.06 130.85);
  --chart-3: oklch(0.59 0.05 137.62);
  --chart-4: oklch(0.65 0.07 90.76);
  --chart-5: oklch(0.52 0.04 137.19);
  --sidebar: oklch(0.33 0.02 88.07);
  --sidebar-foreground: oklch(0.92 0.02 82.12);
  --sidebar-primary: oklch(0.68 0.06 132.45);
  --sidebar-primary-foreground: oklch(0.27 0.01 61.02);
  --sidebar-accent: oklch(0.65 0.07 90.76);
  --sidebar-accent-foreground: oklch(0.27 0.01 61.02);
  --sidebar-border: oklch(0.44 0.02 84.55);
  --sidebar-ring: oklch(0.68 0.06 132.45);
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --font-ghibi: Ghibli, NotoSerifKhmer;
  --font-ghibi-bold: Ghibli-Bold, Koulen;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl:
    3px 3px 2px 0px hsl(88 22% 35% / 0.15),
    3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-weight: var(--font-weight-bold);
  }
  .border {
    border-width: 2px !important;
  }
  .border-l {
    border-left-width: 2px !important;
  }
  .border-r {
    border-right-width: 2px !important;
  }
  .border-t {
    border-top-width: 2px !important;
  }
  .border-b {
    border-bottom-width: 2px !important;
  }
  .shadow-primary {
    box-shadow: 0 2px 0 0 var(--primary-border);
  }
  .shadow-destructive {
    box-shadow: 0 2px 0 0 var(--destructive);
  }
  .shadow-destructive-border {
    box-shadow: 0 2px 0 0 var(--destructive-border);
  }
  .texture {
    background-image: url(https://matsu-theme.vercel.app/texture.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.12;
    mix-blend-mode: multiply;
    z-index: 100;
    isolation: isolate;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
  }
}

/* View Transition Wave Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  /* Ensure the outgoing view (old theme) is beneath */
  z-index: 0;
}

::view-transition-new(root) {
  /* Ensure the incoming view (new theme) is always on top */
  z-index: 1;
}

@keyframes reveal {
  from {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    /* Use CSS variables for the origin, defaulting to center if not set */
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}

::view-transition-new(root) {
  /* Apply the reveal animation */
  animation: reveal 0.4s ease-in-out forwards;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-twinkle {
  animation: twinkle 2s infinite;
}

.font-handwritten {
  font-family: var(--font-ghibi), serif;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}

:root {
  --animate-meteor: meteor 5s linear infinite;
}

@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}
